@charset "UTF-8";

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-size: 15px;
}

@font-face {
    font-family: lex;
    src: url(../fonts/LexendDeca-VariableFont_wght.ttf);
    font-size: 15px;
}

:root{
    --Verydarkblue : hsl(233, 47%, 7%); /*(main background)*/
    --Darkdesaturatedblue : hsl(244, 38%, 16%); /*(card background)*/
    --Softviolet: hsl(277, 64%, 61%); /* (accent)*/
    --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --Slightlytransparentwhite:hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --Slightlytransparentwhite2:hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: var(--Verydarkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container{
    background-color: var(--Darkdesaturatedblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    border-radius: 10px;
    height: 410px;
}

.info{
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

h1{
    color: var(--White);
    font-family: inter;
    font-size: 40px;
}

.titule{
    color: var(--Softviolet);
}

p{
    color: var(--Slightlytransparentwhite);
    font-family: inter;
    font-weight: 400;
    font-size: 15px;
    padding-right: 70px;
    margin-top: 25px;
    line-height: 25px;
}

.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.number{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

h2{
    color: var(--White);
    font-family: inter;
    font-weight: 700;
}

.complemento{
    font-family: lex;
    color: var(--Slightlytransparentwhite2);
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
}

.foto{
    position: relative;
    height: 410px;
}

.roxo{
    position: absolute;
    background-color: hsla(277, 64%, 61%, 0.555);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.computador{
    border-radius: 0 10px 10px 0;
    height: 410px;
}

.celular{
    display: none;
}

@media screen and (max-width: 768px){
    
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 330px;
        margin-top: 20px;
    }

    .computador{
        display: none;
    }

    .celular{
        display: none;
        width: 330px;
        position: relative;
    }
}